<footer>
    <div class="container">
        <div class="row ed-flex-ft">
            <div class="col-md-2 col-sm-6">
                <ul class="social-media">
                    <h4>SOCIAL MEDIA</h4>
                    <li><a href="#"><img src="../../../assets/images/fb.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../assets/images/ins.png" alt=""></a></li>
                    <li><a href="#"><img src="../../../assets/images/twt.png" alt=""></a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <ul class="contact-us"> 
                    <h4>CONTACT US</h4>
                    <li><img src="../../../assets/images/icon-phone.png"> 932 56 82</li>
                    <li><img src="../../../assets/images/icon-mail.png"> cs@thedragonshost.com</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="locations">
                    <h4>LOCATIONS</h4>
                    <li>TDH - PARKSIDE</li>
                    <li>TDH - DB COURT</li>
                    <li>TDH - VINHOMES CENTER PARK</li>
                    <li>TDH - THE TRESOR</li>
                    <li>TDH - VUNG TAU MELODY</li>
                    <li>TDH - VINHOMES OCEANAMI</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 ">    
                <ul>
                    <div class="logo-ft"><img src="../../../assets/images/logo-ft.png" alt=""></div>
                    <li>CÔNG TY CÔ PHẦN THE DRAGONS HOST</li>
                    <li>Địa chỉ đăng ký kinh doanh: A22, Cống Quỳnh,
                    Phường Nguyễn Cư Trinh, Quận 1, Tp.HCM</li>
                    <li>Điện thoại: +84 939 762 131</li>
                    <li>Mã Số Doanh Nghiệp: 0314735319 theo giấy
                    ĐKKD do sở KHĐT TPHCM cấp lần đầu
                        ngày 14 tháng 11 năm 2017.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<a href="javascript:" id="top" style="display: none;"><i class="fa fa-chevron-up"></i></a>