$color : #c19d64;
$red: #ff5a5f;
$black : #444444;
$gray: #999999;

footer{
	background: #f6f6f6;
	padding-top: 50px;

	.logo-ft{
		max-width: 70px;
		margin: auto;
		margin-bottom: 17px;
		margin-top: -17px;
		>img{
			width: 100%;
		}
	}
	
	ul{
		padding: 0;
		list-style: none;
		margin: 0;

		>h4{
			font-size: 20px;
			text-transform: uppercase;
			color: #475993;
			margin-bottom: 40px;
			margin-top: 0;
			font-weight: 500;
		}
		>li{
			font-size: 14px;
			font-weight: 400;
			color: $black;
			margin-bottom: 10px;
			color: $color;
			>i{
				margin-right: 15px;
			}
			>a{
				color: $black;
				&:hover{
					padding-left: 15px;
					color: $color;
				}
			}
			form{
				.form-group{
					margin-bottom: 10px;
					input{
						background: #fff;
						height: 40px;
						border-radius: 0;
					}
				}
				button{
					color: #fff;
					text-transform: uppercase;
					background: $color;
					width: 100%;
					height: 40px;
					text-align: center;
					border: 1px solid transparent;
					transition: all .5s ease;
					margin-bottom: 30px;

					&:hover{
						background: #fff;
						color: $color;
						border: 1px solid;
					}
				}
			}
		}
		&.social-media{
			>li{
				display: inline-block;
				>a{
					max-width: 45px;
					display: inline-block;
					margin-right: 5px;
					>img{
						width: 100%;
						border-radius: 5px;
					}
				}
			}
		}
		&.contact-us{
			>h4{
				color: $color;
			}
			li{
				display: flex;
				align-items: center;
				color: $black;
				>img{
					max-width: 30px;
					margin-right: 10px;
				}
			}
		}
		&.locations{
			>h4{
				color: #093;
			}
		}
	}
	.bottom-ft{
		background: $black;
		color: #fafafa;
		padding: 10px;
		margin-top: 50px;
		.ft-final-2{
			>ul{
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: right;
				>li{
					display: inline-block;
					margin-left: 15px;

				}
			}
		}
	}
}