<header class="header">

    <div class="header-navbar">
        <nav class="" role="navigation">
            <div class="container">
                <div class="navbar-collapse1">
                    <div class="logo">
                        <a href="index.php"><img src="../../../assets/images/logo.png"></a>
                    </div>

                    <ul class="login-signin">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign in</a></li>
                    </ul>

        
                </div>
            </div>
        </nav>
    </div>

</header>