$color : #c19d64;
$red: #ff5a5f;
$black : #444444;
$gray: #999999;
a{
    text-decoration: none;
    transition: all .5s ease;
}
.header{
	height: 74px;

	.header-navbar{
		padding: 10px 0;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
		background: #fff;
		border-bottom: 1px solid $color;
		.navbar-collapse1{
			position: relative;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			.logo{
				display: inline-block;
				position: relative;
				z-index: 999;
				max-width: 120px;
				>a{
					width: 100%;
					>img{
						width: 100%;
					}
				}
			}
            .login-signin{
                padding: 0;
                margin: 0;
                list-style: none;
                position: absolute;
                right: 0;

                >li{
                    display: inline-block;
                    margin-left: 15px;
                    >a{
                        color: $color;
                    }
                }
            }
			
		}
	}
	
}
