<header class="header">

    <div class="header-navbar">
        <nav class="" role="navigation">
            <div class="container">
                <div class="navbar-collapse1">
                    <div class="logo">
                        <a href="index.php"><img src="../../../assets/images/logo.png"></a>
                    </div>

                    <ul class="login-signin">
                        <li>
                            <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle"
                                label="Login"></button>

                        </li>
                        <li><a href="#">Sign in</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>
    <p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true"
        [style]="{width: '350px', minWidth: '200px'}" [baseZIndex]="10000">
        <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees
            his daughter's wedding.
            His beloved son Michael has just come home from the war, but does not intend to
            become part of his father's business.
            Through Michael's life the nature of the family business becomes clear. The business
            of the family is just like the head of the family,
            kind and benevolent to those who give respect,
            but given to ruthless violence whenever anything stands against the good of the
            family.</p>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No"
                class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</header>