<header class="header">

    <div class="header-navbar">
        <nav class="" role="navigation">
            <div class="container">
                <div class="navbar-collapse1">
                    <div class="logo">
                        <a href="index.php"><img src="../../../assets/images/logo.png"></a>
                    </div>
                    <ul class="login-signin">
                        <li><a routerLink="admin/homes" class="nav-link">Home Management</a></li>
                        <li>
                            <button type="button" (click)="showDialog()" pButton label="Login"></button>

                        </li>
                        <li>
                            <button type="button" (click)="showDialog()" pButton label="Sign in"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <p-dialog [(visible)]="display" [modal]="true" [responsive]="true"
        [style]="{width: '500px', minWidth: '200px'}" [baseZIndex]="10000">
        <div class="popup-login">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i> Login with facebook</a></li>
                <li><a href="#"><i class="fa fa-google"></i> Sign in with google</a></li>
                <li><p>or</p></li>
            </ul>
            <div class="form-login" >
                <input id="float-input" type="text" placeholder="Email Address" pInputText> 
                <input pPassword placeholder="Password" type="password"/>
                <button class="btn-login" pButton type="button" label="Login" ></button>
            </div>
            <div class="btn-signin">
                <button class="ed-btn-signin" pButton type="button" label="Sign up with Email"></button>

            </div>
        </div>
        
    </p-dialog>
</header>