<div class="container">
  <form class="form-signin">
    <h1>LOGIN</h1>
    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" class="form-control" name="username" >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">LOGIN</button>
    <p class="mt-5 mb-3 text-muted text-center">© mrthor</p>
  </form>
</div>
