<app-search [listhome]="homes"></app-search>
<section class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <aside>
                    <div class="box-aside">
                        <h2>Price range <i class="fa fa-angle-up"></i></h2>
                        <p>The average nightly price is 1,763,582₫</p>
                        
                        <div>
                            <span>500000₫</span> - <span>5000000+ ₫</span>
                        </div>
                    </div>
                    <div class="box-aside">
                        <h2>Home type <i class="fa fa-angle-up"></i></h2>
                        <p>The average nightly price is 1,763,582₫</p>
                        <div>
                            <span>500000₫</span> - <span>5000000+ ₫</span>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-sm-9">
                <div class="list-dragon-parent">
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let home of homes">
                            <a class="box-dragon" href="#"> 
                                <img src="../../../assets/images/1.jpg" class="img-fluid" alt="">
                                <div class="title-box-dragon">
                                    <h2>{{ home.name}}</h2>
                                    <h4>{{home.numberOfRooms}} homes</h4>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
