.home-page{
    margin: 50px 0;
    .list-dragon-parent{
        .box-dragon{
            text-decoration: none;
            position: relative;
            display: block;
            margin-bottom: 30px;
            .title-box-dragon{
                font-weight: 700;
                position: absolute;
                color: #fff;
                bottom: 0;
                padding: 12px;
                text-shadow: 0 2px 1em #000;
                background: -webkit-linear-gradient(transparent,rgba(0,0,0,.65));
                width: 100%;
                >h2{
                    font-size: 16px;
                    color: #fff;
                }
                >h4{
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
}