.home-page{
    margin: 50px 0;
    .list-dragon-parent{
        .box-dragon{
            text-decoration: none;
            position: relative;
            display: block;
            margin-bottom: 30px;
            transition: all .5s ease;
            .title-box-dragon{
                font-weight: 700;
                position: absolute;
                color: #fff;
                bottom: 0;
                padding: 12px;
                text-shadow: 0 2px 1em #000;
                background: -webkit-linear-gradient(transparent,rgba(0,0,0,.65));
                width: 100%;
                >h2{
                    font-size: 16px;
                    color: #fff;
                }
                >h4{
                    font-size: 14px;
                    margin: 0;
                }
            }
            &:hover{
                opacity: .6;
            }
        }
    }
    aside{
        .box-aside{
            padding-top: 15px;
            padding-bottom: 25px;
            border-bottom: 1px solid #ebebeb;
            border-top: 1px solid #ebebeb;
            &:last-child{
                border-top: 0;
            }
            >h2{
                overflow-wrap: break-word;
                font-size: 16px;
                line-height: 1.375em;
                color: #484848;
                margin: 0;
                position: relative;
                margin-bottom: 20px;
                >i{
                    position: absolute;
                    right: 5px;
                }
            }
            >p{
                font-size: 14px;
                font-weight: 400;
                line-height: 1.28571em;
                color: #484848;
                margin: 0;
            }
        }
    }
}