<section class="search-head">
    <div class="ed-width-search">
        <div class="row">
            <div class="col-sm-3">
                <div class="bg-fff">
                    <ul class="destination"  >
                        <li >
                            <i class="fa fa-map-marker"></i>
                            <input (click)="clickOpendes()" type="text" readonly placeholder="Enter a destination or property" />
                            <ul class="destination-sub open" [hidden]="hideDestination" >
                                <li *ngFor="let search of listhome">
                                    <a href="#"><i class="fa fa-compass"></i> {{search.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-fff">

                </div>
            </div>
            <div class="col-sm-2">
                <div class="bg-fff">
                    <ul class="guests">
                        <li>
                            <input (click)="clickGuests()" type="text" readonly placeholder="Number of Guests">
                            <i class="fa fa-angle-down"></i>
                            <ul class="number-guests" [hidden]="hideGuests">
                                <li>
                                    <p>Adults</p>
                                    <button pButton (click)="decrementAdults()" type="button" icon="pi pi-minus"></button>
                                    <input type="text" [value]="counterValueAdults" min="0" pInputText />
                                    <button pButton type="button" (click)="incrementAdults()" icon="pi pi-plus"></button>
                                </li>
                                <li>
                                    <p>Children<br><span>Ages 2-12</span></p>
                                    <button pButton (click)="decrementChildren()" type="button" icon="pi pi-minus"></button>
                                    <input type="text" [value]="counterValueChildren" min="0" pInputText />
                                    <button pButton type="button" (click)="incrementChildren()" icon="pi pi-plus"></button>
                                </li>
                                <li>
                                    <p>Infants<br><span>Under 2</span></p>
                                    <button pButton (click)="decrementInfants()" type="button" icon="pi pi-minus"></button>
                                    <input type="text" [value]="counterValueInfants" min="0" pInputText />
                                    <button pButton type="button" (click)="incrementInfants()" icon="pi pi-plus"></button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-search-head">
                    <button>Search</button>
                </div>
            </div>
        </div>
    </div>
</section>
