<section class="search-head">
    <div class="ed-width-search">
        <div class="row">
            <div class="col-sm-3">
                <div class="bg-fff">
                    <ul class="destination"  >
                        <li >
                            <i class="fa fa-map-marker"></i>
                            <input (click)="clickOpendes()" type="text" readonly placeholder="Enter a destination or property" />
                            <ul class="destination-sub open" [hidden]="hideDestination" >
                                <li *ngFor="let search of listhome">
                                  <a href="#"><i class="fa fa-compass"></i> {{search.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-fff">

                </div>
            </div>
            <div class="col-sm-2">
                <div class="bg-fff">
                    <ul class="guests">
                        <li>
                            <input type="text" readonly placeholder="Number of Guests">
                            <i class="fa fa-angle-down"></i>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-search-head">
                    <button>Search</button>
                </div>
            </div>
        </div>
    </div>
</section>
